$color1:#d8dee4; // bordures blocs 
$color2:#0969da; // liens
$color3:black; // fond footer
$color4:white; //fond de page
$color5: #f6f8fa; //fond blocs
$color6:#fefefe; //police footer

$medium-bp:768px;