@use '/src/sass/templates/_var.scss';
@use '/src/sass/templates/_mixin.scss';

header{
    width:100%;
    background-color: var.$color5;
    top:0;
    position:sticky;
    padding:1rem 0 0 0;
    border-bottom : .1rem solid var.$color1;
}
 
h1{
    margin: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;

}
.header__nav {
}
.header__nav__list {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
   
}
.header__nav__item {
    list-style-type:none;
     margin :1rem;   
}
.header__nav__link {
}
